body {
  padding: 0;
  margin: 0;
}
.scroll-down {
    background-color: blue;
    bottom: 0;
    color: white;
    display: flex;
    font-family: sans-serif;
    height: 40px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.scroll-down-text {
    display: flex
}
.scroll-down-text span {
    font-size: 10px;
    margin: 15px 0;
    min-width: 83px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
